body{
  background: #FFF;
  color: black;
/*  height: 100%; */
}

#container{
  min-height: 100%;

}

.navbar{
  background-color: #2A9D8F;
  color: #FFFBF0;
}


.container-fluid{
  background-color: #2A9D8F;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  padding-left: 5px;
}

.userProfile{
  display: block;
}

#main{
  width:calc(100%-400px);
/*  padding-left: 10px; */
  overflow: visible;
  padding-bottom: 25px;
  padding-top: 10px;
}

#main h1{
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  }

#main i{
  padding-right: .5em;
  padding-left: .5em;
}

#topNav{
  background: #264653;
}

#topNav i{
  padding-right: .5em;
}

.wrapper {
  /* display: flex; */
  align-items: stretch;
  float: left;
}

#sidebar{
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  margin-right: 10px;
}

#sidebar.active {
  margin-left: -200px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -200px;
  }
  #sidebar.active{
    margin-left: 0;
  }
}

a, a:hover, a:focus{
  color:inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar{
  background: #2A9D8F;
  color: #FFFBF0;
  transition: all 0.3s;
}

#sidebar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;

}

#sidebar ul.components{
  padding: 20px 0;
}

#sidebar ul li a{
  padding-top: 5px;
  padding-left: 5px;
  font-size: 1em;
  display: block;
}

#sidebar #medicalRecords{
  font-size: .8em;
  text-align: center;
}

#sidebar ul li i{
  font-size: 2em;
}

#sidebar ul li{
  padding: 10px 0px;

}

#sidebar ul li:hover{
  background: #FFFBF0;
  color: #2A9D8F;
}

#sidebar ul li.active, a[aria-expanded="true"]{
  background: #FFFBF0;
  color: #2A9D8F;
}

#sidebar li i{
  padding: 0 .4em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  background-color: #2A9D8F;
  color: #FFFBF0;
  outline: 0;
  margin-left: 10px;
}

 .btn:hover{
   background-color: #FFFBF0;
   color: #2A9D8F;
 }

 .btn-div{
   background-color: #2A9D8F;
   margin: 0;
   padding: 0;
   outline: 0;
   border-radius: 0;
 }

 #appt{
   background-color: #E76F51;
 }

 #appt h2{
   font-size: 1.9em;
 }

 #meds{
   background-color: #F4A261;
 }
 .card{
   margin-bottom: 10px;
   margin-left: 10px;
 }
 #msg{
   background-color: #E9C46A;
 }

 #labs{
   background-color: #E9C46A;
 }

#column1 {
  margin-left: 50px;
}

#column2 {
  margin-left: 50px;
}

#logout {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
}

#stickyNote {
  padding: 0;
  color: #fff;
  font-size: 1em;
}

#stickyNote h2, p{
  font-size: 1em;
  font-weight: normal;
}

#stickyNote ul, li {
  list-style: none;
}

#stickyNote ul{
  overflow: hidden;
  padding: 3em;
}

#stickyNote ul li a {
  text-decoration: none;
  color: #000;
  background: #E9C46A;
  display: block;
  height: 20em;
  width: 20em;
  padding: 1em;
  /* Firef ox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

#stickyNote ul li {
  margin: 1em;
  float: left;
}

#stickyNote ul li h2{
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 10px;
}

#stickyNote ul li p{
  font-size: 1.2em;
}

#stickyNote ul li a:hover, #stickyNote ul li a:focus{
  -moz-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

#appointmentTable .table{
  padding-left: 10px;
}

th {
  background-color: #2A9D8F;
  color: white;
}

#footer{
  height: 25px;
  position: relative;
  margin-top: -25px;
  clear: both;
}

/* Orange Button */
.btn-submit {
    padding: 10px 5px;
    margin-bottom: 20px;
}

.btn-danger {
    background-color: #E76F51;
    border-color: #E76F51;
    color: white;
    font-weight: bold;
}

#userHeading{
  background-color: #2A9D8F;
  color: #FFF;
  padding: 0 10px;
  margin: 0;
}

#noteEntry{
  margin-top: 10px;
}
